conf/apache/*
conf/nginx/*
!conf/apache/000-general.conf
!conf/apache/001-default.conf
!conf/nginx/000-general.conf
!conf/nginx/001-default.conf

images/*
!images/empty

www/*
!www/html
www/html/*
!www/html/index.html
!www/html/info.php
